body{
    background-color: #f8f8f8!important;
    font-family: Inter,sans-serif!important;
}


.heading{

    padding-left: 5rem;
    margin-bottom: 30px;
    
}
.head{
    background-color: #fcf6f7;
}

/* .contactLeft{
    display: flex;
    flex-direction: column;
    
} */
.phoneEmail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 245px;
    width: 100%;

}
.phone,.Email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 100%;
}
.phone{
    background-color: rgb(255 234 229);
}
.Email{ 
    background-color: rgb(211 239 255);
}
.contactLeft{
    width: 50%;

}
.address{
    background-color: rgb(231 242 236)
}
.contactLeft i{
    font-size: xx-large;
}
.margin-30px{
    margin-bottom: 30px;
}
.contactMain{
    display: flex;
    
}
.contactForm{
    width: 50%;
    background-color: white;
    margin: 26px 0px 0px 64px;
}
iframe{
    height: 21rem;
    width: 35rem;
}
.mb-3{
    /* width: 23rem!important; */
}
form button{
    width: 100%!important;
    /* padding-top: 12px; */
    border-radius: 1px!important;
}


@media only screen and (max-width: 600px){
    .contactMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contactLeft{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .heading{
        
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    }
    .phoneEmail{
        flex-direction: column;
        height: 100%;
    
    }
    iframe{
        width: 100%;
    }
    .contactForm{
    width: 100%;
    background-color: white;
    margin: 0 0 0 0;
    }
    .phone{
        margin-top: 13px;
        margin-bottom: 32px;
    }
    .phone,.Email{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        line-height: 4;
    }
    .address{
        width: 100%;
    }
    
}