.designProduct{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
@media only screen and (max-width: 600px){
    .designProduct{
        flex-direction: column;
        padding-top: 30px; 
    }
}
.design{
    padding-top: 35px;
}
.styleDesc{
    padding-bottom: 18px;
}